@model BuyWebPage.ViewModels.RegisterViewModel

@{
    ViewBag.title = "Register";
}
@section scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

<div class="container">
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
            <div class="well well-sm">
                <form method="post" class="form-horizontal">
                    <div asp-validation-summary="ModelOnly" class="alert alert-warning"></div>
                    <div class="form-group">
                        <span asp-validation-for="FirstName" class="alert-alert-warning"></span>
                        <label class="control-label col-lg-2" asp-for="FirstName">FirstName</label>
                        <div class="col-lg-10">
                            <input asp-for="FirstName" class="form-control" type="text" placeholder="Enter Firstname" />
                        </div>
                    </div>
                    <div class="form-group">
                        <span asp-validation-for="LastName"></span>
                        <label class="control-label col-lg-2" asp-for="LastName">LasttName</label>
                        <div class="col-lg-10">
                            <input class="form-control" asp-for="LastName" type="text" placeholder="enter Lasttname" />
                        </div>
                    </div>
                    <div class="form-group">
                        <span asp-validation-for="Email"></span>
                        <label class="control-label col-lg-2" asp-for="Email">Email</label>
                        <div class="col-lg-10">
                            <input class="form-control" asp-for="Email" type="text" placeholder="example@gmail.com" />
                        </div>
                    </div>
                    <div class="form-group">
                        <span asp-validation-for="UserName"></span>
                        <label class="control-label col-lg-2" asp-for="UserName">UserName</label>
                        <div class="col-lg-10">
                            <input class="form-control" asp-for="UserName" type="text" placeholder="password" />
                        </div>
                    </div>
                    <div class="form-group">
                        <span asp-validation-for="Password"></span>
                        <label class="control-label col-lg-2" asp-for="Password">Password</label>
                        <div class="col-lg-10">
                            <input class="form-control" type="password" asp-for="Password" placeholder="Password" />
                        </div>
                    </div>
                    <div class="form-group">
                        <span asp-validation-for="Genero"></span>
                        <label asp-for="Genero" class="control-label col-lg-2">Genero</label>
                        <div class="col-lg-3">
                            <select asp-for="Genero" class="form-control">
                                <option value="M">Masculino</option>
                                <option value="F">Femenino</option>
                                <option value="O">Other</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <span asp-validation-for="BirthDate"></span>
                            <label asp-for="BirthDate" class="control-label col-lg-2">BirthDate</label>
                            <div class="col-lg-4">
                                <input asp-for="BirthDate" class="form-control" type="date" />
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-lg-2 col-lg-offset-5">
                            <button type="submit" class="btn btn-success">Finalizar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
