.row{
    display: flex;
    flex-wrap: wrap;
}

.thumbnail {
    height: 450px;
    margin: 10px;
}
.sizeimg{
    max-height:250px;
}

.well button{

    bottom:0;
    position:absolute;
}
.caption{
    margin-bottom:5px;
}
.buy-thumbnail li{
    margin-bottom:0.2em;
}
.buy-thumbnail li span{
    font-weight:bold;
}
.col-lg-3, .col-md-4, .col-sm-9, .col-xs-10{
    margin-bottom:0.5em;
   
}
.force-bottom{
    position: absolute;
    bottom: 0;
}


